* {
  text-decoration: none !important;
}

.contacts {
  margin-top: 20px;
  background-color: #ffffff;
  border: 0.1px solid #CED4DA;
  border-radius: .375rem;
  margin-bottom: 30px;
}

.contacts .contact {
  display: flex;
  align-items: center;
  padding-left: 15px;
  height: 60px;
  gap: 10px;
  font-size: 17px;
}

.contacts .contact:hover {
  background-color: #cecece;
}

.contacts .contact:not(:last-child) {
  border-bottom: 0.1px solid #CED4DA;
}

.contacts .contact .photo {
  color: #fff;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}