<div class="container">
  <div class="row mt-5 justify-content-center">
    <div class="col-md-6 mt-2">
      <div class="d-flex align-items-center justify-content-between">
        <span class="text-muted">14 Contact</span>
        <a [routerLink]="['new']" class="btn btn-dark bg-black">New Contact</a>
      </div>
      <div class="search">
        <input type="text" class="form-control mt-2" placeholder="Search Contact">
      </div>
      <div class="contacts">
        <div class="contact">
          <div class="photo">
            E
          </div>
          <div class="name">
            Mert Çalkan
          </div>
        </div>
        <div class="contact">
          <div class="photo">
            E
          </div>
          <div class="name">
            Mert Çalkan
          </div>
        </div>
        <div class="contact">
          <div class="photo">
            E
          </div>
          <div class="name">
            Mert Çalkan
          </div>
        </div>
        <div class="contact">
          <div class="photo">
            E
          </div>
          <div class="name">
            Mert Çalkan
          </div>
        </div>
      </div>  
    </div>
  </div>
</div>